nav.nav.nav-pills
	li
		a(href="https://github.com/ceshreve", title="Github",  target="_blank")
			i.fa.fa-github
	li
		a(href="https://twitter.com/littlechrob", title="Twitter", target="_blank")
			i.fa.fa-twitter
	li
		a(href="https://www.linkedin.com/in/charlotteshreve/", title="Linked In", target="_blank")
			i.fa.fa-linkedin
	li
		a(href="https://codepen.io/ceshreve/", title="Code Pen", target="_blank")
			i.fa.fa-codepen
	li
		a(href="MAILTO:me@charlotteshreve.dev", title="Email")
			i.fa.fa-envelope
