nav.nav.nav-pills
	a(href="/")#home_button
		img(src="/static/initials.svg").logoimg
	li
		a(href="/professional/") Experience
	li
		a(href="/education/") Education
	li
		a(href="/personal/") About
	li
		a(href="/projects/") Projects
