.personal_page_main
	.row
		img(src="/static/bcc.jpeg").personal_img.homeimg
		img(src="/static/fd.jpeg").personal_img.homeimg
	br
	.row
		p
			| Charlotte Shreve is a software engineer based in Chicago, Illinois. Primarily a C#.NET developer by trade, she has a passion for programming language theory and swears her favorite programming language is actually Prolog. She got her bachelor's degree in computer science from the University of Michigan, and grew up not far from there -- she still hasn't figured out how to point to Chicago on her hand. Charlotte has spoken across the  mid-west on her experiences as a young women in technology and how learning different programming languages made her a better C# developer. In her spare time, she enjoys raising her avocado plants, rollerblading, and remembering her time in marching band. Some people call her varchar and she's found as  littlechrob on twitter.
