.personal_page_main
	.row
		img(src="/static/springgame.jpg").personal_img.homeimg
		img(src="/static/bigben.jpg").personal_img.homeimg
	br
	.row
		p Hi! My name is Charlotte! I'm a web developer from Troy, Michigan currently finishing up my bachelor's degree in Computer Science from the University of Michigan (#GoBlue).
		p I never thought I would end up a computer science major, at first I was going to be an archaeologist, then a teacher, then an event planner. I stumbled upon the introductory programming course at Michigan and fell in love with developing because I quickly understood that computers were at the intersection of all of those interests. I'm a ultimately technology geek with a love for people.
		p I love my family, Gilmore Girls, both dogs and cats, and chocolate. I enjoy watching Michigan Football, reading and writing, and being outside. I probably drink too much diet coke, but I wouldn't have it any other way.
