.col-md-2
.home.jumbotron.col-md-8
	.container
		#img_column
			img(src="/static/homeimg.JPG").homeimg

		#bio
			h2 Charlotte Shreve
			p Full stack developer; computer science alumni of the University of Michigan (#GoBlue); all around nerd. Working to create spaces for young women in technology, understand how her code works each and every day, and to try and keep all of her plants alive.
