.contact_page_main
	p The best way to reach me is generally via
	a(href="MAILTO:shrevecharlotte@gmail.com", title="Email")  shrevecharlotte@gmail.com
	br
	br
	p Alternatively, you can connect with me on LinkedIn
	div.linked_in_div
		<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/charlotteshreve" data-format="inline" data-related="false"></script>
	br
	br
	p Or, you can view my professional resume:
	a(href="/resume", role="button").btn.btn-primary Resume